#appHeading {
    color: brown;
}

#addBtn {
    float: right;
    padding: 0.7rem;
    cursor: pointer;
    color: white;
    background-color: brown;
    margin: 0.5rem auto;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

#addBtn:hover {
    background-color: rgb(190, 65, 65);
}
