.tableBtn {
    width: 100%;
    background-color: rgb(30,165,76);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: .3rem;
    font-family: poppins;
    font-weight: 400;
    font-size: 1rem;

}

.tableBtn:hover {
    background-color: rgb(26, 134, 62);
}

.deleteBtn {
    background-color: rgb(255, 38, 38);
}

.deleteBtn:hover {
    background-color: red;
}

#editUser{
    width: 5rem;
    padding: 0.7rem;
    cursor: pointer;
    color: white;
    background-color: brown;
    margin: 0.5rem auto;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}